<%- include('./partials/header'); %>

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-3 fw-normal lh-1">Stock Info</h1>
                <p class="lead">Encontre informações relevantes sobre o mercado de ações no Brasil e no mundo.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <form class="w-100 mt-2" action="/cards" method="POST">
                        <div class="input-group mb-3">
                            <input type="search" name="search" class="form-control" id="search"
                                placeholder="Exemplo: PETR4.SA, AAPL" autocomplete="off">
                            <button class="btn btn-primary btn-md" type="submit" id="button-addon2">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="images/cards-home.png" alt="" width="720">
            </div>
        </div>
    </div>


    <!-- <input type="text" name="teste" id="teste" onkeyup="myFunc()">
    <p id="texto"></p> -->

    <%- include('./partials/footer'); %>